<div class="mt-4">
    <form method="post"><!--Form default behavior(hành vi mặc định về form-->
  <div class="form-group">
    <label for="search-input">Từ Khoá</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
  </div>
  <div class="form-group">
    <label for="search-input">Từ Khoá</label>
    <select  name="gender" class="gender-control" id="gender-einput" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
        <option value=""><-- Lựa chọn--></option>
        <option value="male">male</option>
        <option value="ádf">ádaf</option>
    </select>
  </div>s
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>