<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Hocj Ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JFq0RAx9HKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>
Trốn Tìm (feat. MTV band)
Artist
Đen
Album
Trốn Tìm (feat. MTV band)
Licensed to YouTube by
Believe Music (on behalf of Đen)
Song
Lối Nhỏ (feat. Phương Anh Đào)
Artist
Đen
Album
Lối Nhỏ (feat. Phương Anh Đào)
Licensed to YouTube by
Believe Music (on behalf of Đen), and 1 Music Rights Societies
Song
Bài Này Chill Phết</p>
        </div>
    </div>
</div>